.auth_banner {
    background: var(--global-color);
    background: -webkit-linear-gradient(to right, var(--global-hover-color), rgb(5, 109, 104));
    background: linear-gradient(to right, var(--global-hover-color), rgb(5, 109, 104));
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    max-width: 960px;
    background-size: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 9;
}

.main_auth_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.auth_company_title {
    color: white;
    font-weight: bold;
    font-size: 38px;
    margin-top: 22px;
}

.auth_banner_description {
    color: white;
    line-height: 21px;
    text-align: center;
    width: 537px;
    margin-top: 22px;
}

.auth_banner_waves {
    width: 100%;
    display: flex;
}

.auth_banner_waves path {
    fill: #21aba3;
    opacity: .3;
}

@media screen and (max-width: 950px) {
    .auth_banner {
        display: none;
    }
}