.other_options_login {
    margin-top: 30px;
}

.other_options_login .option_title {
    color: #A2A5A6;
    font-size: 16px;
    margin: 0 23px 0 23px;
}

.login_login {
    content: "";
    width: 80px;
    border: 1px solid rgba(174, 174, 174, 0.5);
}

.other_option_block {
    display: flex;
    align-items: center;
}

.options_list {
    margin-top: 10px;
    display: flex;
}

.options_list .option {
    border: 1px solid #E5E5E5;
    border-radius: 50px;
    width: 49.43px;
    height: 49.43px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 12.86px;
    transition: .1s;
}

.options_list .option:hover {
    background-color: rgb(245, 245, 245);
}

.options_list .option:last-child {
    margin-right: 0;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #3A4049;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2.5px;
}

.dot:last-child {
    margin-right: 0;
}

.login_bottom_container {
    margin-top: 30px;
    text-align: center;
}

.forgot_password {
    color: var(--global-color);
    font-size: 16px;
    cursor: pointer;
}

.no_account_block {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.no_account_block .title_account {
    font-size: 16px;
    color: #A2A5A6;
}

.no_account_block .link_account {
    font-size: 16px;
    color: var(--global-color);
    margin-left: 5px;
    border-bottom: 1px solid var(--global-color);
    text-decoration: none;
    cursor: pointer;
}

.login_appear .login_auth {
    animation: containerLoginAppear .5s ease-in-out;
}

.auth_animation_login .auth_banner_container {
    transition: transform .5s ease-in-out;
    transform: translateX(-100%);
}

.auth_animation_login .auth_container {
    animation: blockDisappear .5s ease-in-out;
}

input {
    font-family: 'Roboto', sans-serif;
}

.auth {
    display: flex;
}

.auth_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.auth_container .auth_title_container {
    color: var(--global-color);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.auth_input_blocks {
    margin-top: 59px;
}

.auth_checkbox_container {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.auth_button {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    background: var(--global-color);
    border-radius: 50px;
    padding: 17px 65px;
    border: none;
    display: flex;
    margin: 18px auto 0 auto;
    cursor: pointer;
    transition: .1s;
    position: relative;
    text-transform: uppercase;
}

.auth_button:hover {
    background: var(--global-hover-color);
}

.auth_btn_opacity {
    background: #15948e83;
    transition: .1s;
    margin-top: 10px;
}

.auth_link_text {
    color: white;
    text-decoration: none;
}

.auth_btn_opacity:hover {
    background: rgba(24, 155, 148, 0.767)
}

.sign_up_account .title {
    color: #A2A5A6;
    font-weight: 500;
    font-size: 16px;
}

.sign_up_account {
    margin-top: 40px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.input_icon {
    width: 41px;
    display: flex;
    justify-content: center;
}

.auth_animation .auth_banner_container {
    transition: transform .5s ease-in-out;
    transform: translateX(100%);
}

.register_appear .login_auth {
    animation: containerLoginAppear .5s ease-in-out;
}

.auth_animation .auth_container {
    animation: blockAppear .5s ease-in-out;
}

.erorr_text_block {
    margin-bottom: 15px;
    width: 340px;
}

.erorr_text_block span {
    color: #c73a30;
    font-size: 17px;
}

.loading_auth_button .button_text {
    position: relative;
    left: 5px;
    text-transform: uppercase;
}

@keyframes blockDisappear {
    0% {
        transform: translate(0%, 0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes containerLoginAppear {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

@keyframes blockAppear {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translate(-100%, 0);
        opacity: 0;
    }
}