.other_options_login {
    margin-top: 30px;
}

.other_options_login .option_title {
    color: #A2A5A6;
    font-size: 16px;
    margin: 0 23px 0 23px;
}

.login_login {
    content: "";
    width: 80px;
    border: 1px solid rgba(174, 174, 174, 0.5);
}

.other_option_block {
    display: flex;
    align-items: center;
}

.options_list {
    margin-top: 10px;
    display: flex;
}

.options_list .option {
    border: 1px solid #E5E5E5;
    border-radius: 50px;
    width: 49.43px;
    height: 49.43px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 12.86px;
    transition: .1s;
}

.options_list .option:hover {
    background-color: rgb(245, 245, 245);
}

.options_list .option:last-child {
    margin-right: 0;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #3A4049;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2.5px;
}

.dot:last-child {
    margin-right: 0;
}

.login_bottom_container {
    margin-top: 30px;
    text-align: center;
}

.forgot_password {
    color: var(--global-color);
    font-size: 16px;
    cursor: pointer;
}

.no_account_block {
    margin-top: 10px;
    display: flex;
}

.no_account_block .title_account {
    font-size: 16px;
    color: #A2A5A6;
}

.no_account_block .link_account {
    font-size: 16px;
    color: var(--global-color);
    margin-left: 5px;
    border-bottom: 1px solid var(--global-color);
    text-decoration: none;
    cursor: pointer;
}

.login_appear .login_auth {
    animation: containerLoginAppear .5s ease-in-out;
}

.auth_animation_login .auth_banner_container {
    transition: transform .5s ease-in-out;
    transform: translateX(-100%);
}

.auth_animation_login .auth_container {
    animation: blockDisappear .5s ease-in-out;
}